<% if notice %>
	<p id="notice"><%= notice %></p>
<% end%>
<% cache ['store', Product.last] do %>
	<% @products.each do |product| %>
		<% cache ['entry', product] do %>
	<div class="row product-margin	">
		<div class="col-md-2">
			<%= image_tag(product.image_url) %>
		</div>
		<div class="col-md-10">
			<div class="product-block">
				<%= product.title %>
				<%= sanitize(product.description) %>
			</div>
			<div class="product-inline">
				<span><%= number_to_currency(product.price) %></span>
				<span><%= button_to 'Add to Cart', line_items_path(product_id: product), class: 'btn btn-primary'%></span>
			</div>
		</div>
	</div>
		<% end %>
	<% end %>
<% end %>

