<% if notice %>
	<p id="notice"><%= notice %></p>
<% end%>
<h4>Your Pragmatic Catalog</h4>

<div class="entry">
	<table class="table table-bordered">
		<% @products.each do |product| %>
		<thead>
			<tr>
				<th>Image</th>
				<th>Title</th>
				<th>Description</th>
				<th>Price</th>
			</tr>
		</thead>
		<tr>
			<td><%= image_tag(product.image_url) %></td>
			<td><%= product.title %></td>
			<td><%= sanitize(product.description) %></td>
			<td><span class="price"><%= number_to_currency(product.price) %></span></td>
		</tr>
		<% end %>
	</table>
</div>	


